@media(max-width:900px){

.nav-links{

position:fixed;

top:80px;

right:-100%;

width:250px;

height:100vh;

background:white;

flex-direction:column;

padding:40px;

transition:.4s;

}

.nav-links.active{

right:0;

}

.menu-btn{

display:block;

}

.hero h1{

font-size:2.3rem;

}

.hero-buttons{

flex-direction:column;

}

.dark .nav-links{

background:#181818;

}

}